

// SLATE BLUE - ADOBE COLOR

$app-alpha: 	#4CA5FF;
$app-beta: 		#00407F;
$app-charlie:	#007FFF;
$app-delta: 	#26537F;
$app-echo: 		#0066CC;

$light-grey: 	#ccc;

$error-red: 	#ce2a0d;
$valid-green: 	#71c100;

$base-font: 	'Roboto', sans-serif;

* { @include border-box;}

.small-size { font-size: 0.8em; } 
.normal-size { font-size: 1.0em; }
.large-size { font-size: 1.2em; }
.xlarge-size { font-size: 1.4em; }   

.padded-10 { padding: 10px; }
.padded-15 { padding: 15px; }
.padded-20 { padding: 20px; }
.padded-25 { padding: 25px; }

.center-align { text-align: center; }  
.left-align { text-align: left; }  
.right-align { text-align: right; }  

.clear { clear: both; } 
.r-float { float: right; }
.l-float { float: left; }  

.hidden { display: none; } 
.shown { display: block; } 
.shown-inline { display: inline-block; } 

.invisible { visibility: hidden; }

.theme-colour-main { color: white; }

html, body { 
	font-family: $base-font;
	padding: 0;
	margin: 0;
	color: black;
	background-color: white;
	font-size: 100%;
	height: 100%;
	font-weight: 300;
}

.view { 
	padding: 15px 10px;
	margin-bottom: 10px;
}
