
$body-font: 		'Roboto', sans-serif;
$condensed-font: 	'Roboto Condensed', sans-serif;

$body-col: #1C1525;
$body-lighten: lighten($body-col, 5%);
$body-lighten-2: lighten($body-col, 10%);
$body-darken:  darken($body-col, 3%);
$body-darken-2:  darken($body-col, 8%);


$brand-dark-col: #EB1C00;
	$brand-dark-darken: darken($brand-dark-col, 10%);
$brand-light-col: #FC6E00;

* { @include border-box;}

.s-size { font-size: 0.8em; } 
.n-size { font-size: 1.0em; }
.l-size { font-size: 1.2em; }
.xl-size { font-size: 1.4em; } 

.uc { text-transform: uppercase } 
.lc { text-transform: lowercase }

.bold { font-weight: 600 }
.thin { font-weight: 300 }   

.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }

.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }

.c-align { text-align: center; }  
.l-align { text-align: left; }  
.r-align { text-align: right; }  

.clear { clear: both; } 
.r-float { float: right; }
.l-float { float: left; }  

.hidden { display: none; } 
.shown { display: block; } 
.shown-inline { display: inline-block; } 

.invisible { visibility: hidden; }

a:link, a:active, a:visited { 
	@include animate(100ms);
}

h1, h2, h3, h4, h5 { 
	
	text-transform: uppercase;
}
h1 { 
	background-color: $brand-dark-col;
	padding: 15px;
	color: white;
	margin: 0;
	font-size: 1.4em;
	font-weight: 300;
	text-align: left;
}

html, body { 
	font-family: $body-font;
	padding: 0;
	margin: 0;
	color: black;
	background-color: $body-col;
	font-size: 100%;
	height: 100%;
	font-weight: 300;
}
