
$body-font: 		'Roboto', sans-serif;
$condensed-font: 	'Roboto Condensed', sans-serif;

$body-col: #1C1525;
$body-lighten: lighten($body-col, 5%);
$body-lighten-2: lighten($body-col, 10%);
$body-darken:  darken($body-col, 3%);
$body-darken-2:  darken($body-col, 8%);

$error-red: 	#ce2a0d;
$valid-green: 	#71c100;

$brand-dark-col: #EB1C00;
	$brand-dark-darken: darken($brand-dark-col, 10%);
$brand-light-col: #FC6E00;
	$brand-light-lighten: lighten($brand-light-col, 10%);



.grad { @include gradient-vertical($brand-light-col, $brand-dark-col) }
.dark-grad { @include gradient-vertical($body-lighten-2, $body-darken-2) } 

* { @include border-box;}

.s-size { font-size: 0.8em; } 
.n-size { font-size: 1.0em; }
.l-size { font-size: 1.2em; }
.xl-size { font-size: 1.4em; } 

.uc { text-transform: uppercase } 
.lc { text-transform: lowercase }

.bold { font-weight: 600 }
.thin { font-weight: 300 }   

.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }

.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }

.c-align { text-align: center; }  
.l-align { text-align: left; }  
.r-align { text-align: right; }  

.clear { clear: both; } 
.r-float { float: right; }
.l-float { float: left; }  

.hidden { display: none; } 
.shown { display: block; } 
.shown-inline { display: inline-block; } 

.invisible { visibility: hidden; }

a:link, a:active, a:visited, .hover { 
	@include animate(100ms);
	color: white;
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
}
a:hover, .hover:hover { 
	color: $brand-light-col;
}

h1, h2, h3, h4, h5 { 
	text-transform: uppercase;
	color: white;
	margin: 0;
	font-size: 1.4em;
	font-weight: 300;
	text-align: left;
}
h1 { 
	@extend .grad;
	padding: 15px;
}
h2 { 
	@extend .grad; 
	padding: 10px;
	font-size: 1.2em;
}
h3 { 
	@extend .dark-grad; 
	font-size: 1.2em;
	padding: 10px;
}

.pure-u-md-1-2.l-cell { 
	padding-right: 10px;
}
.pure-u-md-1-2.r-cell { 
	padding-left: 10px;
}

.vertical-align {
	position: relative;
 	top: 50%;
  	transform: translateY(-50%);
}
