/* Import all scss files  */
/* 	BORDER RADIUS 	*/
/* OPACITY */
/* CENTER BLOCK ELEMENTS */
/* ANIMATION */
/* VERTICAL ALIGN */
.grad, h1, h2, input[type=submit], .custom-btn {
  background-image: -webkit-linear-gradient(top, #FC6E00 0%, #EB1C00 100%);
  background-image: -o-linear-gradient(top, #FC6E00 0%, #EB1C00 100%);
  background-image: linear-gradient(to bottom, #FC6E00 0%, #EB1C00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFC6E00', endColorstr='#FFEB1C00', GradientType=0); }

.dark-grad, h3, input[type=submit].dark-color, .custom-btn.dark-color {
  background-image: -webkit-linear-gradient(top, #281e35 0%, #150f1b 100%);
  background-image: -o-linear-gradient(top, #281e35 0%, #150f1b 100%);
  background-image: linear-gradient(to bottom, #281e35 0%, #150f1b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF281E35', endColorstr='#FF150F1B', GradientType=0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.s-size {
  font-size: 0.8em; }

.n-size {
  font-size: 1.0em; }

.l-size {
  font-size: 1.2em; }

.xl-size {
  font-size: 1.4em; }

.uc {
  text-transform: uppercase; }

.lc {
  text-transform: lowercase; }

.bold {
  font-weight: 600; }

.thin {
  font-weight: 300; }

.p-10 {
  padding: 10px; }

.p-15 {
  padding: 15px; }

.p-20 {
  padding: 20px; }

.p-25 {
  padding: 25px; }

.m-10 {
  margin: 10px; }

.m-15 {
  margin: 15px; }

.m-20 {
  margin: 20px; }

.m-25 {
  margin: 25px; }

.c-align {
  text-align: center; }

.l-align {
  text-align: left; }

.r-align {
  text-align: right; }

.clear {
  clear: both; }

.r-float {
  float: right; }

.l-float {
  float: left; }

.hidden {
  display: none; }

.shown {
  display: block; }

.shown-inline {
  display: inline-block; }

.invisible {
  visibility: hidden; }

a:link, a:active, a:visited {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  color: white;
  font-weight: 300;
  text-decoration: none; }

a:hover {
  color: #FC6E00; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-size: 1.4em;
  font-weight: 300;
  text-align: left; }

h1 {
  padding: 15px; }

h2 {
  padding: 10px;
  font-size: 1.2em; }

h3 {
  font-size: 1.2em;
  padding: 10px; }

.pure-u-md-1-2.l-cell {
  padding-right: 10px; }

.pure-u-md-1-2.r-cell {
  padding-left: 10px; }

.vertical-align, .click-tile i, .click-tile i:before {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/* For Tablet Only */
/* For Desktop Only */
/*						*/
/* NEW ELEMENTS CREATED */
/* 						*/
/* Top Bar */
@media (min-width: 320px) {
  .res-padding {
    padding-left: 2%;
    padding-right: 2%; }

  .res-margin {
    margin-left: 2%;
    margin-right: 2%; } }
input[type=text], input[type=number], input[type=password], input[type=email], textarea, select {
  outline: 0;
  border: 0;
  font-weight: 300;
  box-shadow: none;
  font-size: 1.1em;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  width: 100%;
  background-color: #150f1b;
  color: white;
  letter-spacing: 1px; }

input[type=submit], .custom-btn {
  border: 0;
  color: #fff;
  text-align: center;
  margin: 20px auto 10px auto;
  padding: 15px 0;
  font-weight: 300;
  width: 90%;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-clip: padding-box; }
  input[type=submit]:hover, .custom-btn:hover {
    color: #150f1b;
    font-weight: 400; }
  input[type=submit].small-button, .custom-btn.small-button {
    padding: 15px;
    background-color: #281e35;
    width: 300px;
    font-weight: 300; }
  input[type=submit].dark-color:hover, .custom-btn.dark-color:hover {
    color: #FC6E00; }

select {
  display: inline-block;
  font-size: 0.8em;
  padding: 15px 30px 15px 15px;
  background-image: url("../img/_jquery_ui/down_arrow.png");
  background-repeat: no-repeat;
  background-position: 96% 50%; }

textarea {
  padding: 10px;
  width: 90%;
  margin: 10px auto;
  font-size: 0.9em;
  font-weight: 400;
  height: 150px;
  outline: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

fieldset {
  border: 0;
  padding: 0 10px 10px 10px;
  margin: 0; }

label {
  color: white;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0 10px 0;
  display: block;
  position: relative;
  font-size: 0.9em;
  overflow: hidden; }
  label span {
    height: 1px;
    display: inline-block;
    background-color: white;
    width: 100%;
    position: absolute;
    margin: 8px 0 0 10px;
    opacity: 0.1; }
  label.error, label.error span {
    color: red; }
  label.reduce-top-padding {
    margin-top: 5px; }

legend {
  background-image: -webkit-linear-gradient(left, #FC6E00 0%, #EB1C00 100%);
  background-image: -o-linear-gradient(left, #FC6E00 0%, #EB1C00 100%);
  background-image: linear-gradient(to right, #FC6E00 0%, #EB1C00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFC6E00', endColorstr='#FFEB1C00', GradientType=1);
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif; }

/* SIDR [ RESPONSIVE NAV ] */
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 15px;
  color: #fff; }

.sidr .sidr-inner {
  padding: 0 0 15px; }

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr.right {
  left: auto;
  right: -260px; }

.sidr.left {
  left: -260px;
  right: auto; }

.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #333;
  line-height: 24px; }

.sidr p {
  font-size: 13px;
  margin: 0 0 12px; }

.sidr p a {
  color: #fff; }

.sidr > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0; }

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 47px;
  font-weight: 400; }
  .sidr ul li a.active {
    background-color: red; }

.sidr ul li.active, .sidr ul li.sidr-class-active {
  background-color: red; }

.sidr ul li a, .sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #fff; }

.sidr ul li ul {
  border-bottom: none;
  margin: 0; }

.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px; }

.sidr ul li ul li:last-child {
  border-bottom: none; }

.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px; }

.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
  box-shadow: inset 0 0 15px 3px #ebebeb; }

.sidr ul li ul li a, .sidr ul li ul li span {
  color: rgba(51, 51, 51, 0.8);
  padding-left: 30px; }

.sidr form {
  margin: 0 15px; }

.sidr label {
  font-size: 13px; }

.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(51, 51, 51, 0.6);
  display: block;
  clear: both; }

.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none; }

.sidr input[type=button], .sidr input[type=submit] {
  color: #f8f8f8;
  background: #333; }

.sidr input[type=button]:hover, .sidr input[type=submit]:hover {
  background: rgba(51, 51, 51, 0.9); }

/* TOOLTIPS */
.cust-tooltip {
  border-radius: 5px;
  background: #FC6E00;
  color: #fff; }

/* Use this next selector to style things like font-size and line-height: */
.cust-tooltip .tooltipster-content {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 13px; }

header {
  background-color: #1C1525;
  color: white;
  border-bottom: 5px solid #EB1C00; }
  header ul.navigation-menu {
    margin: 0;
    float: left;
    border-right: 1px solid #281e35; }
    header ul.navigation-menu li {
      display: inline-block;
      list-style-type: none;
      float: left; }
      header ul.navigation-menu li.logo-cell img {
        height: 30px;
        position: relative;
        float: left;
        top: 20px;
        margin: 0 30px; }
  header div.user-profile-tab {
    float: right;
    margin-right: 40px;
    background-color: #281e35;
    border-right: 1px solid #352746;
    text-align: right; }
    header div.user-profile-tab a.tab-heading {
      padding: 25px 25px 25px 60px; }
  header a.main-link {
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px;
    display: inline-block;
    font-size: 0.9em;
    text-decoration: none;
    border-left: 1px solid #352746; }
    header a.main-link i {
      margin-right: 10px;
      margin-top: -3px;
      float: left; }
    header a.main-link.active, header a.main-link:hover {
      color: #FC6E00;
      background-color: #281e35; }

.user-menu {
  position: absolute;
  border-top: 5px solid #FC6E00;
  background-color: #1C1525;
  padding: 0;
  margin-top: 0px;
  width: 250px;
  margin-right: 40px;
  border-bottom: 1px solid #352746; }
  .user-menu li {
    list-style-type: none;
    border-top: 1px solid #352746;
    font-size: 0.9em;
    width: 100%; }
    .user-menu li a {
      text-transform: uppercase;
      padding: 25px 15px;
      text-align: right;
      display: block;
      font-weight: 500; }
      .user-menu li a i {
        margin-left: 10px;
        float: right;
        font-size: 1.3em;
        padding: 5px;
        margin-top: -5px; }
      .user-menu li a .count-circle {
        float: left;
        color: white;
        background-color: #FC6E00;
        padding: 6px 10px;
        margin-top: -3px;
        font-size: 0.7em;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-clip: padding-box; }
    .user-menu li.active, .user-menu li:hover {
      color: #FC6E00;
      background-color: #281e35; }
    .user-menu li:first-child {
      border-top: 0; }

.view {
  margin-right: 310px; }

.modulated-box, .search-results .profile-card {
  background-color: #281e35;
  border: 0;
  color: white; }

.model-bg {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
  text-align: center; }
  .model-bg #popup-content {
    max-height: 90%;
    max-width: 80%;
    margin: auto; }
  .model-bg .close-model {
    color: white;
    float: right;
    margin-top: -5px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    cursor: pointer; }
    .model-bg .close-model i {
      font-size: 1.8em; }
    .model-bg .close-model:hover {
      color: #150f1b; }

.feedback-msg {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  color: white; }
  .feedback-msg.error {
    background-color: #ce2a0d; }
  .feedback-msg.successful {
    background-color: #71c100; }

.basic-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .basic-list li {
    padding: 0;
    margin: 0;
    display: inline-block; }

.click-tile {
  min-width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background-color: #150f1b;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px dotted transparent;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }
  .click-tile i {
    display: inline-block; }
    .click-tile i:before {
      height: 20px;
      width: 20px; }
  .click-tile:hover, .click-tile.active {
    color: #FC6E00;
    border: 1px dotted #FC6E00; }
  .click-tile.medium-tile {
    width: 60px;
    height: 60px;
    margin: 5px; }
  .click-tile.img-tile {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 60%; }

html, body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 100%;
  height: 100%;
  font-weight: 300;
  background-image: url("../img/backgrounds/02.jpeg");
  background-size: 100%;
  background-color: #1C1525; }

/* =================== /
		Register
/ =================== */
.homepage-info {
  text-align: center;
  width: 60%;
  float: left; }
  .homepage-info .full-logo {
    width: 100px;
    margin-bottom: 50px; }
  .homepage-info big {
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    font-size: 4.0em;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0px; }

#register-form {
  width: 400px;
  text-align: center;
  float: right;
  margin-right: 10%; }
  #register-form fieldset {
    position: relative;
    z-index: 10;
    text-align: left; }
  #register-form .pre-login {
    color: #FC6E00;
    margin-top: 5px; }

/* =================== /
		Search
/ =================== */
.filter-options {
  width: 20%;
  min-width: 250px;
  float: left; }
  .filter-options .location-selector input[type=text] {
    width: 75%;
    float: left;
    font-size: 0.9em;
    padding: 15px; }
  .filter-options .location-selector .click-tile {
    width: 40px;
    height: 48px;
    float: right; }

.search-results {
  float: left;
  width: 66%; }
  .search-results .profile-card {
    width: 48%;
    float: left;
    margin: 10px 1%;
    border: 1px solid #FC6E00; }
