
input[type=text], input[type=number], input[type=password], input[type=email], textarea, select { 
	outline: 0;
	border: 0;
	font-weight: 200;
	box-shadow: none;
	font-size: 1.1em;
	padding: 10px;
	font-family: $body-font;
	//@include shadow;
	-webkit-appearance: none;
	width: 100%;
	background-color: $body-darken;
	color: white;
	letter-spacing: 1px;
} 

input[type=submit], .custom-btn { 
	border: 0;
	color: white;
	text-align: center;
	margin: 20px auto 10px auto;
	padding: 15px 0;
	font-weight: 300;
	width: 90%;
	text-decoration: none;
	display: inline-block;
	//-webkit-appearance: none;
	font-family: $condensed-font;
	background-color: red;
	@extend .grad; 
	text-transform: uppercase;
	@include animate(150ms);
	@include rounded(40px);
	&:hover { 
		color: $brand-light-col;
	}
	&.small-button { 
		padding: 15px;
		background-color: $body-lighten;
		width: 300px;
		font-weight: 300;
	}
	&.dark-color { 
		@extend .dark-grad;
	}
}

select {
	display: inline-block;
	font-size: 0.8em;
	padding: 15px 30px 15px 15px;
	background-image: url("../img/_jquery_ui/down_arrow.png");
	background-repeat: no-repeat;
	background-position: 96% 50%;
}

textarea { 
	padding: 10px;
	width: 90%;
	margin: 10px auto;
	font-size: 0.9em;
	font-weight: 400;
	height: 150px;
	outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset { 
	border: 0;
	padding: 0 10px 10px 10px;
	margin: 0;
}
label { 
	color: white;
	text-transform: uppercase;
	font-family: $condensed-font;
	margin: 20px 0 10px 0;
	display: block;
	position: relative;
	font-size: 0.9em;
	overflow: hidden;
	span { 
		height: 1px;
		display: inline-block;
		background-color: white;
		width: 100%;
		position: absolute;
		margin: 8px 0 0 10px;
		opacity: 0.1;
	}
}
legend { 
	@include gradient-horizontal($brand-light-col, $brand-dark-col);
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-family: $condensed-font; 
}
