
.view { 
	margin-right: 310px;
}
.modulated-box { 
	background-color: $body-lighten;
	border: 0;
	color: white;
}

.model-bg { 
	background-color:rgba(0,0,0,0.9);
	position: absolute;
	z-index: 100;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	display: none;
	text-align: center;
	#popup-content { 
		max-height: 90%;
		max-width: 80%;
		margin: auto;
	}
	.close-model { 
		color: white;
		float: right;
		margin-top: -5px;
		@include animate(100ms);
		cursor: pointer;
		i { 
			font-size: 1.8em;
		}
		&:hover { 
			color: $body-darken;
		}
	}
}

.feedback-msg { 
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	color: white;
	&.error { 
		background-color: $error-red;
	}
	&.successful { 
		background-color: $valid-green;
	}
}

.basic-list { 
	list-style-type: none;
	padding: 0;
	margin: 0;
	li { 
		padding: 0;
		margin: 0;
		display: inline-block;
	}
}

.click-tile { 
	min-width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	background-color: $body-darken;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: 1px dotted transparent;
	@include animate(150ms);
	i { 
		@extend .vertical-align;
		display: inline-block;
		&:before { 
			height: 20px;
			width: 20px;
			@extend .vertical-align;
		}
	}
	&:hover, &.active { 
		color: $brand-light-col;
		border: 1px dotted $brand-light-col;
	}
	&.medium-tile { 
		width: 60px;
		height: 60px;
		margin: 5px;
	}
	&.img-tile {
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 60%;
	}
}