.modulated-box { 
	background-color: $body-lighten;
	border: 0;
}
#register-form {
	width: 500px;
	margin: 20px auto;
}

.pure-u-md-1-2.l-cell { 
	padding-right: 10px;
}
.pure-u-md-1-2.r-cell { 
	padding-left: 10px;
}