.modulated-box { 
	background-color: $body-lighten;
	border: 0;
}

#register-form {
	width: 400px;
	text-align: center;
	float: right;
	margin-right: 10%;
	fieldset { 
		position: relative;
		z-index: 10;
		text-align: left;
	}
	.pre-login { 
		color: $brand-light-col;
		margin-top: 5px;
	}
}

.pure-u-md-1-2.l-cell { 
	padding-right: 10px;
}
.pure-u-md-1-2.r-cell { 
	padding-left: 10px;
}

.view { 
	color: white;
}