

html, body { 
	font-family: $body-font;
	padding: 0;
	margin: 0;
	color: black;
	font-size: 100%;
	height: 100%;
	font-weight: 300;
	background-image:url('../img/backgrounds/02.jpeg'); 
	background-size: 100%;
	background-color: $body-col;
}

/* =================== /
		Register
/ =================== */ 

.homepage-info { 
	text-align: center;
	width: 60%;
	float: left;
	.full-logo { 
		width: 100px;
		margin-bottom: 50px;
	} 	
	big { 
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		font-size: 4.0em;
		color: white;
		font-family: $condensed-font;
		letter-spacing: 0px;
	}
}

#register-form {
	width: 400px;
	text-align: center;
	float: right;
	margin-right: 10%;
	fieldset { 
		position: relative;
		z-index: 10;
		text-align: left;
	}
	.pre-login { 
		color: $brand-light-col;
		margin-top: 5px;
	}
}

/* =================== /
		Search
/ =================== */ 

.searchPref {
	ul { 
		padding: 10px 0;
		margin: 0;
	}
	#user_location { 
		width: 100%;
	}
	.location-selector { 
		text-align: center;
		padding: 15px 30px;
		#user_location { 
			width: 50%;
		}
		#check-postcode { 
			width: 50%;
			padding: 0;
			span { 
				@extend .vertical-align;
				display: inline-block;
			}
		}
	}
} 

.filter-options { 
	width: 20%;
	min-width: 250px;
	float: left;
	span.distance-from { 
		padding: 10px;
		font-size: 0.8em;
		text-transform: uppercase;
		margin-bottom: 20px;
		display: block;
		background-color: $body-darken;
	}
}
.location-selector { 
	input[type=text] { 
		width: 75%;
		float: left;
		font-size: 0.9em;
		padding: 15px;

	}
	.click-tile { 
		width: 40px;
		height: 48px;
		float: right;
	}
	span.divider { 
		display: block;
		text-align: center;
		color: $brand-light-col;
		font-weight: 300;
		text-transform: uppercase;
		padding: 10px;
		clear: both;
	}
}

.search-results { 
	float: left;
	width: 66%;
	.profile-card { 
		width: 48%;
		float: left;
		margin: 10px 1%;
		@extend .modulated-box;
		border: 1px solid $brand-light-col;
	}
}

/* =================== /
		Profile
/ =================== */ 

#profile { 
	.main-info-col {
		background-color: $body-darken;
		height: auto;
		padding: 5px 5px 5px 5px;
		.avatar { 
			height: 220px;
			width: 100%;
			display: block;
			background-color: $brand-light-col;
			margin-bottom: 10px;
		}
		ul li { 
			width: 50%;
			float: left;
			strong { 
				display: block;
				@extend .header-font;
				margin-top: 10px;
				font-size: 0.8em;
				font-weight: 300;
			}
			&.first-tile { 
				border-right: 1px dotted $body-lighten;
				border-bottom: 1px dotted $body-lighten;
			}
			&.second-tile { 
				border-bottom: 1px dotted $body-lighten;
			}
			&.third-tile { 
				border-right: 1px dotted $body-lighten;
			}
			.click-tile { 
				margin: 10px 0;
				border: 1px dotted $brand-light-col;
			}
		}
		.action-btn { 
			margin-top: 10px;
			margin-bottom: 5px;
			float: left;
		}
	}
	.about-container {
		overflow: auto;
		height: 400px;
		.profile-section{ 
			padding: 0 10px 0 10px;
			text-align: left;
			clear: both;
			strong { 
				@extend .header-font; 
				font-weight: 500;
				clear: both;
				text-align: left;
				display: block;
				color: white;
				padding: 10px;
				width: 100%;
				font-weight: 300;
				text-transform: uppercase;
				background-color: $body-darken;
				&:first-child { 
					margin-top: 10px;
				}
			}
			.main-info-section { 
				float: left;
				margin: 10px 0;
				padding: 0;
				width: 100%;
				li { 
					width: 100%;
					float: left;
					margin: 4px 0;
					list-style-type: none;
					padding: 0;
					font-weight: 300;
					font-size: 0.9em;

					span { 
						@extend .header-font;
						border-right: 1px solid $brand-light-col;
						padding: 5px 10px;
						color: white;
						margin-right: 10px;
						background-color: $body-col;
						width: 30%;
						text-align: right;
						display: inline-block;
					}
				}
			}
			.bio-section { 
				padding: 0 10px;
				font-size: 0.9em;
			}
		}
	} 
	.profile-member-list { 
		background-color: $body-darken;
		height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		li { 
			clear: both;
			text-align: left;
			border-top: 1px solid $body-lighten;
			strong, span { 
				display: inline-block;
			}
			strong { 
				text-transform: uppercase;
				font-weight: 300;
				margin-top: 20px;
			}
			span { 
				font-size: 0.9em;
				margin-top: 5px;
				color: #999;
			}
		}
	}
}

img.user-avatar { 
	float: left;
	background-color: $brand-light-col;
	width: 50px;
	margin: 15px;
	height: 50px;
	@include rounded(50px);
}

/* ======================== /
		Edit Profile 
/ ======================== */ 

.edit-profile-main { 
	width: 58%;
	float: left;
}

.edit-profile-images { 
	width: 40%;
	float: right;
	margin-left: 2%;
}
.align-or { 
	margin-top: 16px;
}
.location-height-input { 
	padding: 15px!important;
}

.image-gallery { 
	padding: 10px;
	a { 
		width: 18.4%;
		margin: 3px 2% 3px 0;
		float: left; 
		display: inline-block;
		background-color: $body-darken;
		//border: 2px solid $body-darken;
		overflow: hidden;
		&:nth-child(5n-5) { 
			margin: 3px 0;
		}
		&.edit-profile { 
			width: 32%;
			&:nth-child(5n-5) { 
				margin: 3px 2% 3px 0;
			}
			&:nth-child(3n-3) { 
				margin: 3px 0;
			}
		}
		img { 
			height: 100%;
			width: auto;
		}
	}
}

.pure-m-r-10 { 
	padding-right: 10px;
}
.pure-m-l-10 { 
	padding-left: 10px;
}

/* ======================== /
		Edit Profile 
/ ======================== */ 

.inbox-list { 
	margin-top: 1px;
	overflow: auto;
	li { 
		background-color: $body-col;
		text-align: left;
		border-bottom: 6px solid $body-darken;
		padding: 10px 10px 10px 30px;
		position: relative;
		&.new .type-col { 
			@extend .grad;
		}
		.type-col { 
			background-color: $body-lighten;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			span { 
				@extend .vertical-align;
				display: inline-block;
				width: 20px;
				text-align: center;
				font-size: 0.8em;
			}
		}
		big, strong, em { 
			display: block;
		}
		big { 
			color: $brand-light-col;
			padding-bottom: 10px;
			border-bottom: 1px solid $body-lighten;
			font-weight: bold;
			font-weight: 300;
		}
		strong { 
			padding: 10px 0 5px 0;
			font-size: 0.8em;
		}
		em { 
			font-size: 0.8em;
		}
	}
}
#reply-message { 
	h4 { 
		color: $brand-light-col;
		border-bottom: 1px solid $body-lighten-2;
		padding-bottom: 10px;
	}
	.message-list { 
		padding: 20px 0;
		//margin-bottom: 20px;
		border-bottom: 1px solid $body-lighten-2;
		.message-user { 
			background-color: $body-col;
			min-height: 140px;
			text-align: center;
			float: left;
			img { 
				float: none;
			}
			a { 
				width: 90%;
				display: inline-block;
			}
		}
		.message-text { 
			padding-left: 10px;
			em { 
				opacity: 0.2;
				font-size: 0.8em;
				display: block;
				margin-top: 10px;
			}
		}
		&.sent-msg { 
			.message-user { 
				border: 1px dotted $brand-light-col;
			} 
		}
	}
}